body {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-header {
    background-color: #282c34;
    height: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.films {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.films-list {
    width: 30%;
    padding: 20px;
}

.film-description {
    width: 70%;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .films {
        flex-direction: column;
    }

    .films-list {
        width: 100%;
    }

    .film-description {
        width: 100%;
    }
}